{% extends 'app/base.html' %}


{% block content %}




<section>
	<div class="containe-fluid">
		<div class="row">
			<h3 style="text-align:center;">السلام عليكم ورحمة الله وبركاته</h3>
			<div class="col-md-2">
				<a href="http://pse.pythonanywhere.com"
					target="blank"><img src="https://cdn2.vectorstock.com/i/1000x1000/49/86/man-character-face-avatar-in-glasses-vector-17074986.jpg" width="100px" alt="photo"></a>

			</div>
			<div class="col-md-2">
				<a href="http://pse.pythonanywhere.com"
					target="blank"><img src="https://cdn2.vectorstock.com/i/1000x1000/49/86/man-character-face-avatar-in-glasses-vector-17074986.jpg" width="100px" alt="photo"></a>

			</div>
			<div class="col-md-2">
				<a href="http://pse.pythonanywhere.com"
					target="blank"><img src="https://cdn2.vectorstock.com/i/1000x1000/49/86/man-character-face-avatar-in-glasses-vector-17074986.jpg" width="100px" alt="photo"></a>

			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<p>akdmf rfkmeld pt,g;e,fl,f fll,r fllrmf
					rlflr,;d,e,rflfpd,ed;;dd,lr,,fd</p>
			    <img src="https://cdn2.vectorstock.com/i/1000x1000/49/86/man-character-face-avatar-in-glasses-vector-17074986.jpg" width="80px" alt="">
            </div>
		</div>
        <div class="row">
			<div class="col-md-4">
				<p>akdmf rfkmeld pt,g;e,fl,f fll,r fllrmf
					rlflr,;d,e,rflfpd,ed;;dd,lr,,fd</p>
                <img src="https://cdn2.vectorstock.com/i/1000x1000/49/86/man-character-face-avatar-in-glasses-vector-17074986.jpg" width="80px" alt="">
            </div>
		</div>
        <div class="row">
			<div class="col-md-4">

				<p>akdmf rfkmeld pt,g;e,fl,f fll,r fllrmf
					rlflr,;d,e,rflfpd,ed;;dd,lr,,fd</p>
                <img src="https://cdn2.vectorstock.com/i/1000x1000/49/86/man-character-face-avatar-in-glasses-vector-17074986.jpg" width="80px" alt="">
			</div>
		</div>
	</div>

    <iframe src="http://www.eida.com" frameborder="1" width="1000px"></iframe>
</section>






{% endblock content %}